.product-card {
    background-color: #888;
    margin-bottom: 15px;
    padding: 10px;
    border: thin solid #555;
    font-size: 0.7em;
    text-align: center;
}

.product-card img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
}

.product-card-data h1,
.product-card-data h2,
.product-card-data h3 {
    margin: 0;
}

@media screen and (min-width: 768px) {
    .product-card {
        width: 45vw;
        display: flex;
        text-align: left;
    }
    .product-card-data {
        margin-left: 15px;
        display: flex;
        flex: 0.7;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (min-width: 992px) {
    .product-card {
        width: 25vw;
    }
}