* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    background-color:#222
}

.ProductCard img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 350px;
    height: 213px;
    background-color: white;
    margin-right: 16px;

}
.Products h1 {

    background-color: white;
}
